.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 601px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 431px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  left: auto;
  right: -29px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -331px 75px 0 687px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 51px 0 687px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 85px 60px auto;
  padding: 14px 133px 15px 132px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 566px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 566px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 434px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 326px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 205px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 205px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 771px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 379px;
  margin: 53px auto 0 56px;
}

.u-section-2 .u-image-2 {
  width: 199px;
  height: 199px;
  margin: -379px auto 0 668px;
}

.u-section-2 .u-image-3 {
  width: 199px;
  height: 199px;
  margin: 21px auto 0 668px;
}

.u-section-2 .u-text-1 {
  margin: -401px 30px 0 900px;
}

.u-section-2 .u-text-2 {
  margin: 20px 17px 0 900px;
}

.u-section-2 .u-text-3 {
  margin: 280px 514px 0 56px;
}

.u-section-2 .u-text-4 {
  margin: 20px 514px 0 56px;
}

.u-section-2 .u-image-4 {
  width: 199px;
  height: 199px;
  margin: -125px auto 0 668px;
}

.u-section-2 .u-text-5 {
  margin: -390px 30px 0 900px;
}

.u-section-2 .u-text-6 {
  margin: 20px 17px 0 900px;
}

.u-section-2 .u-text-7 {
  margin: 127px 30px 0 900px;
}

.u-section-2 .u-text-8 {
  margin: 20px 17px 60px 900px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 730px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 730px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 730px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 730px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 730px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 730px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-2 {
    margin-left: 521px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 521px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 510px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 510px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 150px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 521px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 510px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 510px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 510px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 510px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 359px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -359px;
    margin-left: 341px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 341px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 330px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 330px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-left: 341px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 330px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 330px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 330px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 330px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 226px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -226px;
    margin-left: 141px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 141px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 130px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 141px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 130px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 977px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin-top: 50px;
  margin-bottom: 0;
  min-height: 375px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 11px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 0 1px;
}

.u-section-3 .u-image-2 {
  height: 213px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-3 .u-text-3 {
  margin: 20px 11px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 0 1px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 11px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 0 1px;
}

.u-section-3 .u-image-4 {
  height: 213px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-3 .u-text-7 {
  margin: 20px 11px 0 0;
}

.u-section-3 .u-text-8 {
  margin-top: 0;
  margin-right: 1px;
  margin-left: 1px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 11px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 0 1px;
}

.u-section-3 .u-image-6 {
  height: 213px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-3 .u-text-11 {
  margin: 20px 11px 0 0;
}

.u-section-3 .u-text-12 {
  margin-top: 0;
  margin-right: 1px;
  margin-left: 1px;
}

.u-section-3 .u-text-13 {
  margin: -828px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    min-height: 309px;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-3 .u-image-1 {
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 169px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 169px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    height: 169px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1312px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    min-height: 711px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-3 .u-image-2 {
    height: 200px;
  }

  .u-section-3 .u-image-4 {
    height: 200px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 118px;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
    min-height: 1599px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 344px;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    height: 347px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 344px;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    height: 347px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 344px;
    margin-top: 656px;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-right: auto;
  }

  .u-section-3 .u-image-6 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
    min-height: 1007px;
  }

  .u-section-3 .u-image-1 {
    height: 212px;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 214px;
  }

  .u-section-3 .u-image-3 {
    height: 212px;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 214px;
  }

  .u-section-3 .u-image-5 {
    height: 212px;
    margin-top: 541px;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 214px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 963px;
}

.u-section-4 .u-text-1 {
  margin: 64px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 570px;
  height: 402px;
  margin: 50px auto 0 48px;
}

.u-section-4 .u-shape-2 {
  width: 430px;
  height: 162px;
  margin: -402px auto 0 662px;
}

.u-section-4 .u-shape-3 {
  width: 430px;
  height: 162px;
  margin: 23px auto 0 662px;
}

.u-section-4 .u-text-2 {
  margin: 77px 526px 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-2 {
    margin-left: 510px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 510px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 69px;
    margin-right: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-2 {
    margin-left: 290px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 290px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 110px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 110px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-3 {
    width: 340px;
    margin-left: 0;
  }
}